<a href="https://colab.research.google.com/github/Fileboss/INHA_DATABASE_GROUP_D/blob/main/Week11_group_lab/WEEK11_Group_D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lab Group: D
Members:
- Rodriguez Diego Guilhem (12224836)
- Robert Mathieu Gerard Jose (12224837)
- Roque Balthazar Tom Jacques Antoine (12224841)
- Baus Philippe Yves Leon (12224893)
- Zhylkybay Nazerke (12224970)

#Exercice 1

In [ ]:
SELECT ID, name,
  CASE
    WHEN tot_cred < 30 THEN 'Freshman'
    WHEN tot_cred < 60 THEN 'Sophomore'
    WHEN tot_cred < 90 THEN 'Junior'
    WHEN tot_cred < 120 THEN 'Senior'
    ELSE'Graduate'
  END AS status
FROM student;

# Exercice 2

In [ ]:
SELECT ID, name,
  CASE
    WHEN tot_cred < 30 THEN 'Freshman'
    WHEN tot_cred < 60 THEN 'Sophomore'
    WHEN tot_cred < 90 THEN 'Junior'
    WHEN tot_cred < 120 THEN 'Senior'
    ELSE 'Graduate'
  END AS status,
  COUNT(ID)
FROM student
GROUP BY status;

# Group exercise

Suppose students have taken number of courses in 2008, Spring semester.
GPA is calculated as follows:
- Grade conversion:
‘A+’ -> 4.50, ‘A’ -> 4.00, ‘B+’ -> 3.50, ‘B’ -> 3.00 . . . ‘F’ -> 0
- Obtained grade for each course:
grade * credits
- Maximum grades possible for each course:
maximum grade * credits
- GPA: obtained grades for all courses / maximum grades possible for all courses

## Question 1: Calculate the GPA for each student who have taken any course in 2008, Spring semeste

In [ ]:
SELECT Student_ID, SUM(grade * credits) / SUM(max_grade * credits) AS GPA
FROM (
    SELECT Student_ID, Course_ID, Credits, CASE
        WHEN Grade = 'A+' THEN 4.50
        WHEN Grade = 'A' THEN 4.00
        WHEN Grade = 'B+' THEN 3.50
        WHEN Grade = 'B' THEN 3.00
        WHEN Grade = 'C+' THEN 2.50
        WHEN Grade = 'C' THEN 2.00
        WHEN Grade = 'D+' THEN 1.50
        WHEN Grade = 'D' THEN 1.00
        WHEN Grade = 'F' THEN 0
    END AS gpa_grade, MAX(gpa_grade) AS max_grade
    FROM Enrollment
    WHERE Semester = 'Spring' AND Year = 2008
)
GROUP BY Student_ID;

### Explanations
Here the idea is first to convert every grade of each corse for each student to its GPA value, then to aggregate GPA notes to get average GPA per student.

The GROUP BY statement indicate that the aggreagation will be done for each student, distinguished by Student_ID

##Question 2: Find the number of students according to category:
- If GPA is between 3.75 and 4.50 then A
- If GPA is between 3.00 and 3.75 then B
- If GPA is between 2.00 and 3.00 then C
- If GPA is between 1.50 and 2.00 then D
- If GPA is below 1.50 then F

We used the previous question with a view to answer this question

In [ ]:
CREATE VIEW GPA AS
SELECT Student_ID, SUM(grade * credits) / SUM(max_grade * credits) AS GPA
FROM (
    SELECT Student_ID, Course_ID, Credits, CASE
        WHEN Grade = 'A+' THEN 4.50
        WHEN Grade = 'A' THEN 4.00
        WHEN Grade = 'B+' THEN 3.50
        WHEN Grade = 'B' THEN 3.00
        WHEN Grade = 'C+' THEN 2.50
        WHEN Grade = 'C' THEN 2.00
        WHEN Grade = 'D+' THEN 1.50
        WHEN Grade = 'D' THEN 1.00
        WHEN Grade = 'F' THEN 0
    END AS gpa_grade, MAX(gpa_grade) AS max_grade
    FROM Enrollment
    WHERE Semester = 'Spring' AND Year = 2008
)
GROUP BY Student_ID;

Here we anticipated that the query would be too heavy, so we decided to re use the query from the previous question to create a View that already contains the average GPA for each student.

In [ ]:
SELECT CASE
    WHEN GPA < 1.50 THEN 'F'
    WHEN GPA < 2.00 THEN 'D'
    WHEN GPA < 3.00 THEN 'C'
    WHEN GPA < 3.75 THEN 'B'
    WHEN GPA < 4.50 THEN 'A'
END AS Category, COUNT(*) AS Number_of_Students_by_Category
FROM GPA
GROUP BY Category;

### Explanations
So once we got the View, it is easier, we can directly get the GPA for each student. The idea here is to transform the GPA to a letter corresponding to the student grade, then to aggregate the student that belongs to the same group, and count them.